---
- name: Load JSON file
  set_fact:
    data: "{{ lookup('file', 'dependency_config.json') | from_json }}"

- name: print Description
  debug:
    msg: "{{ playbook_path }}"

- name: Run my custom module
  ibm.ibm_zos_core.playbook_upgrade_validator:
    migration_map: "{{ data }}"
    playbook_path: "{{ playbook_path }}"
    output_path: "{{ output_path }}"
    ignore_response_params: "{{ ignore_response_params }}"
  register: result

- name: print debug data
  debug:
    msg: "{{ result  }}"